.logo {
    padding: 50px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .App-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(209, 216, 222);
    border-bottom: 2px solid rgb(173, 173, 232);
    margin-bottom: 30px;
  
  }
  
  .mainNav {
    display: flex;
    align-items: center;
  }
  .mainNav>div {
    background-color: rgba(255, 255, 255, 0.443);
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
  }