*{
    text-align: center;
}
.nosEntrées{
    padding-top: 20px;
    padding-bottom: 30px;
}
.text{
    margin: auto;
    width: 600px;
}
.motOu{
    font-size: small;
    color: gray;
    padding: 15px;
}

.text:last-child> .motOu{
    display: none;
}
.contenuMenu{
    margin-bottom: 100px;
}